body {
	background-color: #4baad3;
  	padding-top: 70px;
  	color: #fff;
  	font-family: 'Comfortaa', cursive;
}

.navbar{
	height: 80px;
	background-color: #3a9ac4;
}

.navbar-default .navbar-brand {
	padding-top: 30px;	
  color: #fff;
  
}

.headcompare{
	padding-top: 60px;
	text-align: center;
}

.btn{
	margin-top: 20px;
	width: 300px;
	height: 60px;
	background-color: #2982a8;
}

input[type=text]{
	height: 50px;
	background-color: #f4f4f4;
	margin-top:30px; 

}

.txtcenter{
	text-align: center;
}


.resimg img{
	max-width:400px;
	max-height:400px;
}

.progress-bar{
	color:#000;
}


