 <div class="container">
        <div class="headcompare">
          <h1>Compare Images Here...</h1>
        </div>
          <form method="POST" action="/process">
            <div class="txtcenter"> 
            <div class="form-group">
            <input type="text" class="form-control" placeholder="First Link Here..." name="link1" required>
            </div>
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Second Link Here..." name="link2" required>
            </div>
           <button type="submit" class="btn">Submit</button></div>
          </form>
    </div> <!-- /container -->
